[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==8.4.2"
requests = "==2.34.2"
pre-commit = "==4.6.2"
GitPython = "==3.1.62"
flake8 = "==7.3.0"
httpx = "==0.28.1"
black = "==24.10.0"
pytest-cov = "==6.0.0"
mypy = "==1.20.2"

[packages]
fastapi = "==0.141.1"
uvicorn = "==0.52.4"
pydantic-settings = "==2.15.0"
more-itertools = "11.1.0"

[requires]
python_version = "3.13"
