[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==7.4.4"
requests = "==2.31.0"
pre-commit = "==3.6.0"
GitPython = "==3.1.41"
flake8 = "==7.0.0"
httpx = "==0.26.0"

[packages]
fastapi = "==0.109.0"
uvicorn = "==0.26.0"

[requires]
python_version = "3.11"
